.badge-yellow{
    color: black;
    background-color: yellow;
    padding: 2px;
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px;
}

.badge-green{
    color: white;
    background-color: green;
    padding: 2px;
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px;
}

.badge-blue{
    color: white;
    background-color: blue;
    padding: 2px;
    width: 16px !important;
    height: 16px !important;
    border-radius: 10px;
}
